In [143]:
import pandas as pd
import numpy as np
from ydata_profiling import ProfileReport
import pickle
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [144]:
df=pd.read_csv('enjoysport.csv')

In [145]:
df

     sky airtemp humidity    wind water forcast enjoysport
0  sunny    warm   normal  strong  warm    same        yes
1  sunny    warm     high  strong  warm    same        yes
2  rainy    cold     high  strong  warm  change         no
3  sunny    warm     high  strong  cool  change        yes

In [146]:
# pf=ProfileReport(df)

In [147]:
# pf

In [148]:
# pf.to_widgets()

In [149]:
df.tail(10)

     sky airtemp humidity    wind water forcast enjoysport
0  sunny    warm   normal  strong  warm    same        yes
1  sunny    warm     high  strong  warm    same        yes
2  rainy    cold     high  strong  warm  change         no
3  sunny    warm     high  strong  cool  change        yes

In [150]:
df.head(10)

     sky airtemp humidity    wind water forcast enjoysport
0  sunny    warm   normal  strong  warm    same        yes
1  sunny    warm     high  strong  warm    same        yes
2  rainy    cold     high  strong  warm  change         no
3  sunny    warm     high  strong  cool  change        yes

In [151]:
df.describe()

          sky airtemp humidity    wind water forcast enjoysport
count       4       4        4       4     4       4          4
unique      2       2        2       1     2       2          2
top     sunny    warm     high  strong  warm    same        yes
freq        3       3        3       4     3       2          3

In [152]:
df.isnull()

     sky  airtemp  humidity   wind  water  forcast  enjoysport
0  False    False     False  False  False    False       False
1  False    False     False  False  False    False       False
2  False    False     False  False  False    False       False
3  False    False     False  False  False    False       False

In [153]:
df.duplicated()

0    False
1    False
2    False
3    False
dtype: bool

In [154]:
df

     sky airtemp humidity    wind water forcast enjoysport
0  sunny    warm   normal  strong  warm    same        yes
1  sunny    warm     high  strong  warm    same        yes
2  rainy    cold     high  strong  warm  change         no
3  sunny    warm     high  strong  cool  change        yes

In [155]:
# now convert the string data to numeric
pa={'sunny':1,'rainy':0}

In [156]:
df['sky']=df['sky'].map(pa)

In [157]:
df

   sky airtemp humidity    wind water forcast enjoysport
0    1    warm   normal  strong  warm    same        yes
1    1    warm     high  strong  warm    same        yes
2    0    cold     high  strong  warm  change         no
3    1    warm     high  strong  cool  change        yes

In [158]:
pa1={'high':1,'normal':0}

In [159]:
df['humidity']=df['humidity'].map(pa1)

In [160]:
df

   sky airtemp  humidity    wind water forcast enjoysport
0    1    warm         0  strong  warm    same        yes
1    1    warm         1  strong  warm    same        yes
2    0    cold         1  strong  warm  change         no
3    1    warm         1  strong  cool  change        yes

In [161]:
pa2={'warm':0,'cold':1}

In [162]:
df['airtemp']=df['airtemp'].map(pa2)

In [163]:
df

   sky  airtemp  humidity    wind water forcast enjoysport
0    1        0         0  strong  warm    same        yes
1    1        0         1  strong  warm    same        yes
2    0        1         1  strong  warm  change         no
3    1        0         1  strong  cool  change        yes

In [164]:
pa3={'strong':1,'low':0}

In [165]:
df['wind']=df['wind'].map(pa3)

In [166]:
df

   sky  airtemp  humidity  wind water forcast enjoysport
0    1        0         0     1  warm    same        yes
1    1        0         1     1  warm    same        yes
2    0        1         1     1  warm  change         no
3    1        0         1     1  cool  change        yes

In [167]:
pa4={'warm':1,'cool':0}

In [168]:
df['water']=df['water'].map(pa4)

In [169]:
df

   sky  airtemp  humidity  wind  water forcast enjoysport
0    1        0         0     1      1    same        yes
1    1        0         1     1      1    same        yes
2    0        1         1     1      1  change         no
3    1        0         1     1      0  change        yes

In [170]:
pa5={'same':0,'change':1}

In [171]:
df['forcast']=df['forcast'].map(pa5)

In [172]:
df

   sky  airtemp  humidity  wind  water  forcast enjoysport
0    1        0         0     1      1        0        yes
1    1        0         1     1      1        0        yes
2    0        1         1     1      1        1         no
3    1        0         1     1      0        1        yes

In [173]:
pa6={'yes':1,'no':0}

In [174]:
df['enjoysport']=df['enjoysport'].map(pa6)

In [175]:
df

   sky  airtemp  humidity  wind  water  forcast  enjoysport
0    1        0         0     1      1        0           1
1    1        0         1     1      1        0           1
2    0        1         1     1      1        1           0
3    1        0         1     1      0        1           1

In [235]:
x=df[['sky','airtemp','humidity','wind','water','forcast']]

In [237]:
x

   sky  airtemp  humidity  wind  water  forcast
0    1        0         0     1      1        0
1    1        0         1     1      1        0
2    0        1         1     1      1        1
3    1        0         1     1      0        1

In [239]:
y=df['enjoysport']

In [241]:
y

0    1
1    1
2    0
3    1
Name: enjoysport, dtype: int64

In [245]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)

In [247]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [249]:
x_train

   sky  airtemp  humidity  wind  water  forcast
0    1        0         0     1      1        0
1    1        0         1     1      1        0
2    0        1         1     1      1        1

In [251]:
y_train

0    1
1    1
2    0
Name: enjoysport, dtype: int64

In [253]:
from sklearn.linear_model import LogisticRegression

In [255]:
# Initialize and train the logistic regression model
lnr = LogisticRegression()

In [257]:
lnr.fit(x_train,y_train)

LogisticRegression()

In [273]:
new_data=[[1,0,0,1,1,0]]

In [275]:
y_pred = lnr.predict(new_data)
y_pred

C:\Users\HP\AppData\Roaming\Python\Python312\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [277]:
df

   sky  airtemp  humidity  wind  water  forcast  enjoysport
0    1        0         0     1      1        0           1
1    1        0         1     1      1        0           1
2    0        1         1     1      1        1           0
3    1        0         1     1      0        1           1

In [279]:
file="enjoysport.sav"
pickle.dump(lnr,open(file,"wb"))

In [281]:
lnr.score(x,y)*100

100.0

In [283]:
# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")
print("\nClassification Report:\n", classification_report(y_test, y_pred))
print("\nConfusion Matrix:\n", confusion_matrix(y_test, y_pred))

Accuracy: 1.00

Classification Report:
               precision    recall  f1-score   support

           1       1.00      1.00      1.00         1

    accuracy                           1.00         1
   macro avg       1.00      1.00      1.00         1
weighted avg       1.00      1.00      1.00         1


Confusion Matrix:
 [[1]]

C:\Users\HP\AppData\Roaming\Python\Python312\site-packages\sklearn\metrics\_classification.py:409: UserWarning: A single label was found in 'y_true' and 'y_pred'. For the confusion matrix to have the correct shape, use the 'labels' parameter to pass all known labels.
  warnings.warn(